<p-card header="Subscriptions Summary" >


    <fieldset style="float:initial" title="Appliance Summary">
    <ng-container *ngIf="subscriptions$ | async as availableSubscriptions else noSubscriptions">
      <ng-container  >
        <span>Tenant: {{ operatorPageModel.applianceSessionContext?.tenantId }}</span>
        <span>Operator OID: {{ operatorPageModel.applianceSessionContext?.userOid}}</span>
        <hr/>
      </ng-container>
      <p-table
      styleClass="p-datatable-gridlines p-datatable-striped"
      [columns]="cols"
      [value]="availableSubscriptions"
    >
      <ng-template pTemplate="caption"> Subscriptions </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{ col.header }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-car let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            {{ car[col.field] }}
          </td>
        </tr>
      </ng-template>
    </p-table>
    </ng-container>
  </fieldset>
    <ng-template  #noSubscriptions>
      <span>no subscriptions available</span>
    </ng-template>

  </p-card>
