@model com.ataxlab.azure.table.retention.models.TableStorageTableRetentionPolicy

@if (Model == null)
{
    <span>no data available </span>
}
else
{
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyEnforcementMode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PolicyEnforcementMode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeleteOlderTablesThanCurrentMonthMinusThis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeleteOlderTablesThanCurrentMonthMinusThis)
        </dd>
    </dl>
    <hr />

</div>
 }