
<mat-drawer-container [class.drawer-opened]="drawer.opened"
                      class="example-container">
  <mat-drawer #drawer
              class="drawer"
              mode="side"
              opened="true">


    <mat-toolbar class="header">
      <span>Available Commands</span>
      <mat-icon class="close"
                (click)="drawer.close()">close</mat-icon>
    </mat-toolbar>

    <div class="drawer contents">

      <app-command-palette></app-command-palette>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar  class="main header">
      <mat-icon *ngIf="!drawer.opened"
                (click)="drawer.toggle()">
        menu
      </mat-icon>
      <div style=" width:100%;">

        <ul>
          <li><a routerLink="workbench">workbench</a></li>
          <li><a routerLink="report">report</a></li>

        </ul>
      </div>
    </mat-toolbar>

    <div class="main contents">

      <div>
        <router-outlet></router-outlet>
      </div>

    </div>


    <mat-toolbar class="main footer">

    </mat-toolbar>
  </mat-drawer-content>

</mat-drawer-container>
