ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
  }

    li a:hover {
      background-color: #111111;
    }

.drawer {
  position:absolute;
  align-content: center;
  overflow: visible;
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  min-width:400px;
  max-width: 100%; overflow-x: hidden;

}

  .drawer .header {
    position: absolute;
    right: 0;
    justify-content: space-between;
  }

  .drawer .contents {
    margin-top: 50px;
    padding: 16px;
    overflow: visible;
  }


main {
  position: absolute;
  min-width: 315px;
  min-height: 100%;

}

  .main.header {
    position: absolute;
    top: 0;
    width: 100%;
    /* z-index: 2;
    border-bottom: 1px solid #ccc; */
  }

  .main.contents {

    margin-top: 64px; /* height of header */
    padding: 16px;
  }

  .main.footer {
    position: absolute;
    border-top: 1px solid #ccc;
    bottom: 0;
    width: 100%;
  }



.example-container {

  margin: 1px;

}
