ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

.drawer {
  position: fixed;
  height: 100vh;
  min-width: 25%;
  border-right: 1px solid #ccc;
}

  .drawer .header {
    position: absolute;
    right: 0;
    justify-content: space-between;
  }

  .drawer .contents {
    padding: 16px;
  }
