<mat-drawer-container
  [class.drawer-opened]="drawer.opened"
  class="example-container"
>
  <mat-drawer #drawer class="drawer" mode="side" opened="true">
    <mat-toolbar class="header">
      <span>Available Commands</span>
      <mat-icon class="close" (click)="drawer.close()">close</mat-icon>

    </mat-toolbar>

    <div class="drawer contents">
      <div style="margin-top: 15px;">
        auth token expiry {{authExpiryTime | date: 'MMMM d, y, h:mm:ss a z'}}
      </div>
      <app-command-palette></app-command-palette>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar class="main header">
      <mat-icon *ngIf="!drawer.opened" (click)="drawer.toggle()">
        menu
      </mat-icon>
      <div style="width: 100%">

        <ng-container *ngIf="operatorPageModelChanges$ | async as operatorPageModel; else noPageModelheader">
          <p-card >
            <ng-template  pTemplate="header">

            </ng-template>

            <ng-template  pTemplate="content">

              <div>
                {{ operatorPageModel?.applianceUrl }}

              <div class="">

                <span style="float: left;">Tenant Id</span>
                {{ operatorPageModel?.applianceSessionContext?.tenantId }}

              <mat-slide-toggle
              style="float: right;"
              [color]="color"
              [checked]="isAutoRefreshWorkflowCheckpoint"
            >
              Auto Refresh
            </mat-slide-toggle>
              </div>


            </div>
            </ng-template>

            <ng-template  pTemplate="footer">

            </ng-template>
          </p-card>

        </ng-container>
        <ng-template #noPageModelheader></ng-template>
      </div>
    </mat-toolbar>

    <p-card>
      <ng-template  pTemplate="content">
        <div class="main contents">
          <app-core></app-core>
          <mat-tab-group>
            <mat-tab label="workbench">
              <app-Workbench></app-Workbench>
            </mat-tab>
            <mat-tab label="report">
              <app-JobOutputView></app-JobOutputView>
            </mat-tab>
          </mat-tab-group>
        </div>

      </ng-template>
    </p-card>

    <mat-toolbar class="main footer"> </mat-toolbar>
  </mat-drawer-content>
</mat-drawer-container>
