<ng-container
  *ngIf="
    diagnosticsRetentionSurfaceEntityChanges$ | async as jobs;
    else noAccount
  "
>
  <p-card>
    <p-dataView
      #dv
      [value]="jobs"
      layout="grid"
      [paginator]="true"
      [rows]="1"
      filterBy="itemExists"
    >
      <ng-template pTemplate="header">
        <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
          <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
          <div>
            Diagnostics Retention Surface: {{ curentStorageAccount.name }}
          </div>

          <p-toggleButton
            #filterItemsBtn
            [(ngModel)]="showOnlyExistingItems"
            (onChange)="filterChanged($event.checked)"
            onLabel="extant items only"
            offLabel="non-extant items only"
          ></p-toggleButton>
        </div>
      </ng-template>

      <ng-template let-job pTemplate="listItem">
        <div>
          {{ job.tableName }}
        </div>
      </ng-template>

      <ng-template let-job pTemplate="gridItem">
        <div class="p-col-12">
          {{ job.id }}
          <mat-tab-group>
            <mat-tab label="Timeline">
              <p-card class="card">
                <ng-template pTemplate="subtitle"
                  >{{ job.tableName }}
                </ng-template>
                <ng-template
                  class="p-d-flex"
                  style="border: 8px"
                  pTemplate="content"
                >
                  <div class="p-d-flex">
                    <div class="p-d-inline-flex">
                      <p-timeline [value]="job | datesToTimeLineEventsPipe">
                        <ng-template pTemplate="content" let-event>
                          {{ event.timestamp }}
                        </ng-template>
                        <ng-template pTemplate="opposite" let-event>
                          {{ event.itemDescription }}
                        </ng-template>
                      </p-timeline>
                    </div>
                    <div class="p-d-inline-flex">
                      <table>
                        <tr>
                          <td>Item Exists?</td>
                          <td>{{ job.itemExists }}</td>
                        </tr>

                        <tr>
                          <td><span>will be deleted?: </span></td>
                          <td>{{ job.itemWillBeDeleted }}</td>
                        </tr>

                        <tr>
                          <td><span>retention period </span></td>
                          <td>{{ job.retentionPeriodInDays }} days</td>
                          <p-knob
                            [(ngModel)]="job.retentionPeriodInDays"
                            [min]="1"
                            [max]="1000"
                            [size]="90"
                          ></p-knob>
                        </tr>
                      </table>
                    </div>
                  </div>
                </ng-template>
                <ng-template pTemplate="footer">
                  <p>
                    <a href="{{ job.documentationLink }}">{{
                      job.itemDescription
                    }}</a>
                  </p>
                  <p>
                    <span
                      >items retrieved: {{ job.retainedEntitySampleSize }}</span
                    >
                  </p>
                </ng-template>
              </p-card>
            </mat-tab>

            <mat-tab label="Calendar">
              <p-fullCalendar
                #calendar
                [events]="job | retentionPeriodForFullCalendar"
                [title]="job.tableName"
                [options]="options"
              ></p-fullCalendar>
            </mat-tab>
          </mat-tab-group>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </ng-template>
    </p-dataView>
  </p-card>
</ng-container>

<ng-template #noAccount>
  <span>no retention jobs available</span>
</ng-template>
