
<ng-container *ngIf="storageAccounts$ | async as availableStorageAccounts else noStorageAccounts">

<p-table
styleClass="p-datatable-gridlines p-datatable-striped"
[columns]="cols"
[value]="availableStorageAccounts"
[scrollable]="true" scrollHeight="200px"
selectionMode="single" [(selection)]="selectedStorageAccount"
>
<ng-template pTemplate="caption"> Storage Accounts </ng-template>
<ng-template pTemplate="header" let-columns>
  <tr>
    <th *ngFor="let col of columns">
      {{ col.header }}
    </th>
    <th style="width:4rem">

    </th>
  </tr>
</ng-template>
<ng-template pTemplate="body" let-storageAccount let-columns="columns">
  <tr>
    <td style="overflow-x: auto;" *ngFor="let col of columns">
      {{ storageAccount[col.field] }}
    </td>
    <td>
      <button class="p-button-raised" label="select" type="button" pButton pRipple icon="pi" (click)="selectStorageAccount(storageAccount)">
      </button>
  </td>
  </tr>
</ng-template>
<ng-template pTemplate="summary">
  Storage Accounts On Appliance: {{availableStorageAccounts?.length}}
</ng-template>
</p-table>
<div>
  <hr/>
  <span>SELECT</span>
  <mat-button-toggle-group
  #toolSelector
  *ngModel="selectedTool"
  (change)="toolChanged($event)">
  <mat-button-toggle value="DiagnosticsRetention">Diagnostics Retention</mat-button-toggle>
  <mat-button-toggle checked value="MetricRetention">Metrics Retention</mat-button-toggle>
</mat-button-toggle-group>

</div>

<ng-container *ngIf="toolSelectionChanges$ | async as tool">
  <div *ngIf="tool === 'DiagnosticsRetention'; else metricsRetention">
    <app-DiagnosticsRetentionSurfaceView></app-DiagnosticsRetentionSurfaceView>
  </div>

  <ng-template #metricsRetention>
    <app-MetricsRetentionSurfaceView></app-MetricsRetentionSurfaceView>
  </ng-template>
</ng-container>

<ng-container  >

</ng-container>


</ng-container>

<ng-template  #noStorageAccounts>
  <span>no storage accounts available</span>
</ng-template>

