/*
according to https://www.w3schools.com/html/tryit.asp?filename=tryhtml_lists_menu
*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e05e5e;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 3px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
