<ng-container
  *ngIf="
    storageAccounts$ | async as availableStorageAccounts;
    else noStorageAccounts
  "
>
  <p-table
    styleClass="p-datatable-gridlines p-datatable-striped"
    [columns]="cols"
    [value]="availableStorageAccounts"
    [scrollable]="true"
    scrollHeight="300px"
    selectionMode="single"
    dataKey="id"
    (onRowSelect)="selectStorageAccount($event)"

  >
    <ng-template pTemplate="caption"> Storage Accounts </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
        <th  ></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-storageAccount let-columns="columns">

        <tr>

          <td style="overflow:auto; " *ngFor="let col of columns">
            {{ storageAccount[col.field] }}
          </td>
          <td >
            <mat-radio-button
            (click)="selectStorageAccount(storageAccount)"
            name="storageAccountBtn" value="stoageAccount"
            checked="true">selected</mat-radio-button>


          </td>

        </tr>

    </ng-template>
    <ng-template pTemplate="summary">
      Storage Accounts On Appliance: {{ availableStorageAccounts?.length }}
    </ng-template>
  </p-table>



  <mat-tab-group>
    <mat-tab label="diagnostics retention surface">
      <app-DiagnosticsRetentionSurfaceView></app-DiagnosticsRetentionSurfaceView>
    </mat-tab>

    <mat-tab label="metric retention surface">
      <app-MetricsRetentionSurfaceView></app-MetricsRetentionSurfaceView>
    </mat-tab>
  </mat-tab-group>
</ng-container>

<ng-template #noStorageAccounts>
  <span>no storage accounts available</span>
</ng-template>
