
<ng-container *ngIf="storageAccounts$ | async as availableStorageAccounts else noStorageAccounts">

<p-table
styleClass="p-datatable-gridlines p-datatable-striped"
[columns]="cols"
[value]="availableStorageAccounts"
[scrollable]="true" scrollHeight="200px"
selectionMode="single" [(selection)]="selectedStorageAccount" 
>
<ng-template pTemplate="caption"> Storage Accounts </ng-template>
<ng-template pTemplate="header" let-columns>
  <tr>
    <th *ngFor="let col of columns">
      {{ col.header }}
    </th>
    <th style="width:4rem">
      
    </th>
  </tr>
</ng-template>
<ng-template pTemplate="body" let-storageAccount let-columns="columns">
  <tr>
    <td style="overflow-x: auto;" *ngFor="let col of columns">
      {{ storageAccount[col.field] }}
    </td>
    <td>
      <button mat-button  title="select" type="button" pButton pRipple icon="pi pi-search" (click)="selectStorageAccount(storageAccount)">
        select
      </button>
  </td>
  </tr>
</ng-template>
<ng-template pTemplate="summary">
  Storage Accounts On Appliance: {{availableStorageAccounts?.length}}
</ng-template>
</p-table>
<div>
  <hr/>
  <span>Retention</span>
  <ul  aria-label="retention policies">
    <li><a [routerLink]="['DiagnosticsRetention']">Diagnostics Retention</a></li>

    <li><a [routerLink]="['MetricRetention']">Metrics Retention</a></li>
  </ul>
</div>
<ng-container  >
  <router-outlet></router-outlet>
</ng-container>


</ng-container>

<ng-template  #noStorageAccounts>
  <span>no storage accounts available</span>
</ng-template>

