<p>MetricRetentionSurfaceView works!</p>

<ng-container *ngIf="metricsRetentionSurfaceEntityChanges$ | async as jobs; else noAccount">
  <p-dataView [value]="jobs">

    <ng-template pTemplate="header">
      <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
    </ng-template>

    <ng-template let-job pTemplate="listItem">
      <div>
        {{ job.id }}
      </div>
    </ng-template>

    <ng-template let-job pTemplate="gridItem">
      <div class="p-col-12 p-md-3">
        {{ job.retentionPolicyJobs }}
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
  </ng-template>

  </p-dataView>
</ng-container>

<ng-template #noAccount>
  <span>no retention jobs available</span>
</ng-template>
