<ng-container
  *ngIf="metricsRetentionSurfaceEntityChanges$ | async as jobs; else noAccount"
>
  <div clas="card metricscard">
    <p-dataView
      #dv
      [value]="jobs"
      layout="grid"
      [paginator]="true"
      [rows]="1"
      filterBy="itemExists"
    >
      <ng-template pTemplate="header">
        <div class="">
          <p-dataViewLayoutOptions></p-dataViewLayoutOptions>

          <p-toolbar>
            <div class="p-toolbar-group-right">
              <div class="pi">
                <div class="p-button-raised p-button-rounded">
                  Metrics Retention Surface
                </div>
                {{ curentStorageAccount.name }}
              </div>
              <div class="pi" style="">
                <p-toggleButton
                  (onChange)="setEditMode($event.checked)"
                  [(ngModel)]="isShow"
                  class="p-button-text p-button-raised"
                  type="button"
                  onLabel="Editing Policy"
                  offLabel="Edit Policy"
                ></p-toggleButton>
              </div>
              <p-toggleButton
                class="p-button-raised"
                style=""
                #filterItemsBtn
                [(ngModel)]="showOnlyExistingItems"
                (onChange)="filterChanged($event.checked)"
                onLabel="extant items only"
                offLabel="non-extant items only"
              ></p-toggleButton>
            </div>
          </p-toolbar>

        </div>
      </ng-template>

      <ng-template let-job pTemplate="listItem">
        <div>
          {{ job.tableName }}
        </div>
      </ng-template>

      <ng-template let-job pTemplate="gridItem">
        <div class="p-col-12">
          <mat-tab-group>


            <mat-tab label="Timeline">
              <p-card class="card">
                <ng-template pTemplate="subtitle"
                  >{{ job.tableName }}
                </ng-template>
                <ng-template
                  class="p-d-flex"
                  style="border: 8px"
                  pTemplate="content"
                >
                  <div class="p-d-flex">
                    <div class="p-d-inline-flex">
                      <p-timeline [value]="job | datesToTimeLineEventsPipe">
                        <ng-template pTemplate="content" let-event>
                          {{ event.timestamp }}
                        </ng-template>
                        <ng-template pTemplate="opposite" let-event>
                          {{ event.itemDescription }}
                        </ng-template>
                      </p-timeline>
                    </div>
                    <div class="p-d-inline-flex">
                      <table>
                        <tr>
                          <td>Item Exists?</td>
                          <td>{{ job.itemExists }}</td>
                        </tr>

                        <tr>
                          <td><span>will be deleted?: </span></td>
                          <td>{{ job.itemWillBeDeleted }}</td>
                        </tr>

                        <tr>

                          <ng-container *ngIf="!isShow">
                            <td><span>retention period </span></td>
                            <td>{{ job.retentionPeriodInDays }} days</td>
                          </ng-container>
                          <ng-container *ngIf="isShow">
                            <td><span>set retention period in days </span></td>
                            <td style="align-self: center;">
                            <p-knob
                              [(ngModel)]="job.retentionPeriodInDays"
                              [min]="1"
                              [max]="1000"
                              [size]="90"
                              [showValue]="true"
                            ></p-knob>


                          </td>
                          </ng-container>
                        </tr>

                        <tr>
                          <ng-container *ngIf="!isShow">
                              <td>enforcement mode</td>
                              <td>{{job.policyEnforcementMode}}</td>
                          </ng-container>
                          <ng-container *ngIf="isShow">
                            <td>enforcement mode</td>
                            <td>
                              <p-dropdown [options]="enforcementMode" [(ngModel)]="job.policyEnforcementMode"></p-dropdown>
                            </td>

                          </ng-container>
                        </tr>
                        <ng-container *ngIf="isShow">
                          <tr>
                            <td>
                              <div style="align-self: center;">
                                <p-button
                                type="button"
                                (onClick)="updateRetentionPolicy(job)"
                                label="commit"
                                class="p-button-text"
                              ></p-button>
                              </div>
                            </td>
                          </tr>
                        </ng-container>
                      </table>
                    </div>
                  </div>
                </ng-template>
                <ng-template pTemplate="footer">
                  <p>
                    <a href="{{ job.documentationLink }}">{{
                      job.itemDescription
                    }}</a>
                  </p>
                </ng-template>
              </p-card>
            </mat-tab>
            <mat-tab label="Calendar">
              <p-fullCalendar
                #calendar
                [events]="job | retentionPeriodForFullCalendar"
                [title]="job.tableName"
                [options]="options"
              ></p-fullCalendar>
            </mat-tab>
          </mat-tab-group>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </ng-template>
    </p-dataView>
  </div>
</ng-container>

<ng-template #noAccount>
  <span>no retention jobs available</span>
</ng-template>
