@model com.ataxlab.azure.table.retention.models.TableStorageRetentionPolicy

<div>
    <span>Table Storage Retention Policy</span>
    <hr />
    <dl>
        @Html.DisplayForModel()
    </dl>
</div>
