@model IEnumerable<com.ataxlab.azure.table.retention.models.models.azuremanagement.StorageAccountDTO>
    <div class="container">

        <div>
            <span>CHOOSE STORAGE ACCOUNTS</span>
        </div>
        <div id="StorageAccountEditorContainer" class="container">
            @Html.EditorForModel();
        </div>
    </div>