
<ng-container >
  <ng-container *ngIf="jobOutputLogChanges$ | async as logEntities">



    <p-dataView #dv [value]="logEntities"
                [paginator]="true"
                [first] = "applianceLogOffset"
                paginatorPosition="both"
                [rows]="applianceLogPageSize"
                [showJumpToPageDropdown] = "true"
                [lazy]="true"
                layout="list"
                sortField="timeStamp" [sortOrder] = "1"
                [loading]="isRefreshing"
                [showCurrentPageReport]="true"

                (onLazyLoad)="ensureLogEntries($event)">

                <ng-template pTemplate="header">

                </ng-template>
      <ng-template let-logentry pTemplate="listItem">
        <div style=" display: flex; align-items: left; width: 100%; ">
          <div style="display: flex; align-items: left; width:25%; ">{{logentry.timeStamp}} </div>
          <div style="display: flex; align-items: left; width: 15%; ">{{logentry.source}}</div>

          <div style="display: flex; align-items: left; width: 20%; ">{{logentry.summary}}</div>
          <div style="display: flex; align-items: left;  width: 30%; overflow-y: auto; ">{{logentry.detail}}</div>

        </div>



      </ng-template>

      <ng-template pTemplate="footer">
        total entries {{totalLogEntries}}
      </ng-template>
    </p-dataView>

  </ng-container>
  </ng-container>

